:root {
  --font-size: 16px;
  --font-size-small: 14px;
  --bg-color: hsl(60, 56%, 91%);            /* "beige" */
  --bg-color-dimmed: hsl(60, 45%, 86%);
  --selection-color: hsl(240, 100%, 50%);   /* "blue" */
  --padding-horiz: 1em                      /* header and main */
}

html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: var(--font-size);
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--bg-color)
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3em var(--padding-horiz);
  background-color: var(--bg-color-dimmed);
}

header > nav {
  display: flex;
  align-items: center;
  gap: 2em;
}

header a {
  color: black;
  text-decoration: none;
}

header button {
  font-size: var(--font-size);
  line-height: 1em;
}

header #site-menu nav {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style-type: none;
  padding: 1.5em 2em;
  position: absolute;
  top: 0.3em;
  right: var(--padding-horiz);;
  background-color: white;
  border: 1px solid lightgray;
}

/* Main */

main {
  display: flex;
  gap: 1em;
  flex-grow: 1;
  min-height: 0;
}

main nav {
  flex: 0 0 20%;
  overflow: auto;
  padding: 2em var(--padding-horiz) 0;
}

main.small-screen nav {
  flex: auto;
}

main article {
  flex-grow: 1;
  overflow: auto;
  line-height: 1.6;
  padding: 0 var(--padding-horiz);
}

main a {
  color: black;
}

main nav a {
  text-decoration: none;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  padding: 0.4em 0 0.2em;
  background-color: black;
}

footer #icons {
  display: flex;
  gap: 1.5em;
}

footer a {
  color: var(--bg-color);
}

/* Front page */

main#front article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

main#front .title {
  line-height: 1.3;
}

main#front .title .main {
  font-size: 48px;
}

main#front.small-screen .title .main {
  font-size: 42px;
}

main#front .title .sub {
  font-size: 24px;
}

main#front.small-screen .title .sub {
  font-size: 22px;
}

main#front .person {
  font-size: 1.15em;
  line-height: 1.4;
}

/* Project page */

main#project nav {
  line-height: 1.4;
}

main#project nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.4em;
  list-style-type: none;
  padding-left: 1em;
}

main#project nav .selected a {
  color: var(--selection-color);
}

main#project nav .tagline {
  font-size: var(--font-size-small);
  color: gray;
}

main#project img,
main#project video {
  max-width: 100%;
}

main#project em {
  color: var(--selection-color);
  font-style: normal;
  background-color: white;
}

/* Publications page */

main#publications article > h1,
main#publications article > p {
  margin-left: calc(180px + 4rem);  /* cover image width + gap */
}

main#publications article .publication {
  margin-top: 4em;
}
